## Ignore Visual Studio temporary files, build results, and
## This should ignore all folders except for the dbo\table changes
# Ignore everything
*

# But keep dbo/tables
!dbo/
!dbo/tables/
!dbo/tables/**